@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');

:root {
  --width-main: 640px;
  --height-header: 48px;
  --width-sidebar: 240px;

  --button-background: #f0f0f0;
  --button-background-hover: #e0e0e0;
  --button-background-active: #e0e0e0;
  --button-color: black;

  --text-color-secondary: #737373;

  --font-main: 'Fira Code', monospace;

  --font-size-time-sub: 20px;
}

body {
  font-family: var(--font-main);
}
