.button {
  height: 48px;
  margin: 8px 4px;
  padding: 12px 24px;
  border-radius: 24px;
  background-color: var(--button-background);
  border: none;
  cursor: pointer;
  user-select: none;
  color: black;

  &:hover {
    background-color: var(--button-background-hover);
  }

  &.active {
    background-color: var(--button-background-active);
  }
}
