.input {
  font-size: 60px;
  width: 180px;
  max-width: 100%;
  text-align: center;
  caret-color: transparent;

  &:focus {
    outline: none;
    box-shadow: none;
    color: var(--text-color-secondary);
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

.timeContainer {
  display: flex;
  align-items: baseline;
}

.milliseconds {
  width: 40px;
  font-size: 24px;
  color: var(--text-color-secondary);
}

.placeholder {
  width: 40px;
}
