.input {
  font-size: 60px;
  width: 180px;
  max-width: 100%;
  text-align: center;
  caret-color: transparent;

  &:focus {
    outline: none;
    box-shadow: none;
    color: var(--text-color-secondary);
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

.container {
  height: 92px;
  display: flex;
  align-items: center;
}

.milliseconds {
  width: 40px;
  height: 56px;
  font-size: var(--font-size-time-sub);
  color: var(--text-color-secondary);
  display: flex;
  align-items: flex-end;
}

.timerInitial {
  width: 40px;
  height: 56px;
  font-size: var(--font-size-time-sub);
  color: var(--text-color-secondary);
  display: flex;
  align-items: flex-end;
}

.placeholder {
  width: 40px;
  height: 60px;
}

.waveDash {
  width: 40px;
  height: 60px;
  font-size: 56px;
  color: var(--text-color-secondary);
  border: 1px dashed var(--text-color-secondary);
  display: flex;
  align-items: center;
}

.waveDashPlaceholder {
  width: 40px;
  height: 60px;
  border: 1px dashed var(--text-color-secondary);
}
